<div class="newsletter">
    <form action="//amputeesupplies.us3.list-manage.com/subscribe/post?u=9648f4674e30157257ece1bea&amp;id=55f405b2a3" method="post" name="mc-embedded-subscribe-form" class="contact-form" target="_blank">
  	  <input type="email" value="" name="EMAIL" class="required email" placeholder="Enter your email" />
  	  <input type="submit" value="Subscribe" name="subscribe" class="action_button sign_up" />
    </form>
</div>