<div class="toolbar">

  <div class="grid--full grid-padding">
    <div class="grid__item large--five-sixths medium--one-half small--one-half">
     <div class="view-mode medium-down--hide">
      <label>Filter by:</label> 

      {% include "filter-menu" %}
      <button id="clear-filter" class="btn">X Clear Filters</button>
    </div>

     {% include "filter-menu-xs" %}
    
 
  </div>




<div class="grid__item large--one-sixth medium--one-half small--one-half text-right pull-right">
  {% include 'collection-sorting' %}
</div>
<!-- begin grid/list view -->
{% comment %}
 <div class="grid__item large--one-twelfth one-sixth small--one-third">
  <div class="btn-group view-mode">
    <label>View as</label>
    <a class="grid" href="grid" title="Grid view">Grid</a>  
    <a class="list active" href="list" title="List view">List</a>  
  </div>
</div>
<script>
   
            $(".view-mode a").click(function(e) {
                if (!$(this).hasClass("active")) {
                    var paging = $(".filter-show > button span").text();
                  if(paging == 'choose'){paging = 'all'}
                    if ($(this).hasClass("list")) {
                        Shopify.queryParams.view = "list" + paging;
                    } else {
                        Shopify.queryParams.view = paging;
                    }

                    ella.sidebarAjaxClick();
                    $(".view-mode a.active").removeClass("active");
                    $(this).addClass("active");
                }
                e.preventDefault();
            });
      
</script>
{% endcomment %}
<!-- end grid/list view -->

</div><!-- grid-full -->
</div><!-- toolbar -->

<script>
  $('#clear-filter').click(function(){ 
    $('#sortme select').val('').trigger('change');
})
</script>
