<!-- /templates/page.knitted-textiles.liquid -->

<!-- begin knitted-textiles -->
<div id="knitted-textiles">
	{% section 'knitted-textiles' %}
</div>
<!-- end knitted-textiles -->
{% include 'top-of-page' %}	