<!-- /templates/page.guide-category-suspension.liquid -->

<!-- begin guide-category-suspension -->
<div id="guide-category">
	{% section 'guide-category-suspension' %}
</div>
<!-- end guide-category-suspension -->
{% include 'top-of-page' %}	