<!-- /templates/page.guide-category-textiles.liquid -->

<!-- begin knitted-textiles -->
<div id="guide-category">
	{% section 'knitted-textiles' %}
</div>
<!-- end knitted-textiles -->
{% include 'top-of-page' %}	