<!-- /templates/page.liquid -->
<div class="grid--full grid-padding" style="font-family: 'Quicksand', sans-serif; color: #000;">
  <div class="grid__item">
<img alt="Amputee Store Team" src="//cdn.shopify.com/s/files/1/0824/6797/files/amputee-team-photo.jpg?14821885508377557168" style="width: 100%; float: none; display: block; margin: 0 auto;" />
  </div>
  
  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1 style="font-family: 'Quicksand', sans-serif; color: #000;">{{ page.title }}</h1>
      <p>by Bryan Potok</p>


    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
